.main-layout {
    width: 100%;
    height: 100%;
    background: white;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-areas: "aside content";
}

.main-layout .content {
    grid-area: content;
}
.main-layout .aside {
    grid-area: aside;
    background: white;
    display: grid;
    grid-template-areas: "logo" "elements";
    grid-template-rows: 100px 1fr;
    border: 1px solid  #d1d5db;
}

.main-layout aside .logo {
    grid-area: logo;
    border-bottom: 1px solid  #d1d5db;
    width: 100%;
    height: 100%;
}

.main-layout aside .logo img {
    width: 150px;
    margin-left: 20%;
    margin-top: 8%;
}

.main-layout aside .elements {
    grid-area: elements;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
}

.aside-element {
    color: black;
    display: grid;
    grid-template-columns: 28px 1fr;
    grid-template-areas: "icon label";
    padding-left: 10px;
    align-items: center;
    margin: 5px;
    border-radius: 20px;
    height: 50px;
    text-decoration: none;
}

.aside-element:hover {
    background: rgba(0, 0, 0, 0.1);
    transition:  0.3s ease;
}
.aside-element-icon {
    grid-area: icon;
    justify-self: center;
    align-self: center;
    margin-bottom: auto;
    margin-top: auto;
}

.aside-element-label {
    grid-area: label;
    margin-left: 20px;
    font-size: 20px;
    margin-top: 10px;
}

.active-aside-element {
    background: #319EF6;
}
.active-aside-element:hover {
    background: rgba(39, 128, 216, 1);
}

.user {
    justify-self: center;
    margin: 5px;
    color: black;
    text-decoration: none;
    width: 240px;
    display: grid;
    border-radius: 10px;
    grid-template-columns: 80px 1fr;
    grid-template-rows: 25px 25px;
    grid-template-areas: "profile-picture name" 
                        "profile-picture logout";
}
.user:hover {
    background: rgba(0, 0, 0, 0.1);
    transition:  0.3s ease;
}

.user img {
    grid-area: profile-picture;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 20px;
    margin-right: 20px;
}

.user .name {
    grid-area: name;
    justify-self: center;
}

.user .logout {
    grid-area: logout;
    font-size: 12px;
}
