#root {
    background: #f9fafb;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.sign-in-up-container {
    border: 2px solid #d1d5db;
    background: white;
    display: grid;
    grid-template-rows: 100px 1fr 100px 50px;
    grid-template-areas: "logo"
                        "form"
                        "continue-with"
                        "new-user";
    width: 500px;
    height: fit-content;
    border-radius: 20px;
}

.sign-in-up-container form {
    grid-area: form;
    width: 100%;
    padding-left: 10%;
}

.sign-in-up-container form * {
    width: 80%;
    margin: 10px;
}
.sign-in-up-container .logo {
    grid-area: logo;
    justify-self: center;
}

.sign-in-up-container label {
    color: #374151;
    margin-bottom: 5px;
}

.sign-in-up-container input {
    height: 50px;
    background: #ffffff;
    border-radius: 10px;
    border: 1px solid  #d1d5db;
    margin-top: 0px;
    padding-left: 10px;
}

.sign-in-up-container input::placeholder {
    color: #6b7280;
}


.sign-in-up-container input:focus-visible {
    outline: 2px solid #3b82f6;
}

.sign-in-up-container button {
    height: 50px;
    border-radius: 10px;
}

.sign-in-up-container .continue-with {
    grid-area: continue-with;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sign-in-up-container .continue-with .divider {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sign-in-up-container .continue-with .divider hr {
    flex: 1; 
    margin: 0px;
}
.sign-in-up-container .continue-with button {
    width: 50%;
    height: 50px;
    background: white;
}
.sign-in-up-container .continue-with button:hover {
    background: rgba(0, 0, 0, 0.3);
    transition: color 0.3s ease;
}
.sign-in-up-container .continue-with .divider p {
    margin: 0px;
    flex: 0 0 140px;
    padding: 10px;
}

.sign-in-up-container .new-user {
    grid-area: new-user;
    display: flex;
    justify-content: center;
}

